.aboutsection{
	margin-bottom: 50vw;
}

.about{
    margin-left: 13vw;
    margin-right:8vw;
    margin-top:8vw;
    margin-bottom: 5vw;
    max-width: 1200px;
    color: white;
    font-weight: 900;
}

hr{
    margin: 10px 0;
}

h1, h2, h3 {
    font-weight: 900;
}

p {
	font-size: 15px;
}



/* the skillset boxes */
.aboutsubsect{
    color: white;
	max-width: 1200px;
	margin-left: 13vw;  
    margin-right:8vw;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    max-width: 1200px; 	
    padding: 30px;
	text-align: center;	
    background-color: #28282B; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);  
}

.grid-item {
    overflow: hidden;
}

.grid-item img {
    width: 9vw;
    height: 9vw;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.grid-item img:hover {
    transform: scale(1.21);
    Background-color: white;
}
 
 
 /*for resume download button*/
.resumedl{
    color: white;
	font-size: 12px;
}

.btn {
  background-color: #28282B;
  border: none;
  color: white; 
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* Responsive design */
@media only screen and (max-width: 768px) 
{
	.aboutsection{
        margin-left:26vw;
	    margin-right:10vw;
		margin-top: 0vw;
        color: white;
}
	.aboutsection h2{
		font-size:4vw;
	}
	.aboutsection p{
		font-size: 2.5vw;
	}
	.about {
	    margin-left: 0vw;
	    margin-right: 0vw;
	}	
	.aboutsubsect{
		margin-left: 0vw;
	    margin-right: 0vw;
	}
    .grid-container {
        grid-template-columns: 2fr;
        grid-gap: 2px;	
    }
    .grid-item img {
		width: 30vw;
        height: 30vw;
    }
	.grid-item img {
        height: 30vw;
    }

}




