.contactsec{
    margin-bottom: 20vw;
}

.container{
    color: white;
    max-width: 1400px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 4vw;
    padding:  0.05vw 2vw 2vw 2vw; 
    background-color: #28282B;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);	
}
 

.connect {
width: auto;
position: relative;
padding-top:0;
}
.connect img {
float: left;
width: 3.5vw;
height: 3.5vw;
}
.connect p {
line-height: 3.5vw;
font-size: 2vw;
}

.address {
width: 300px;
position: relative;
}
.address img {
float: left;
width: 2vw;
height: 2vw;
}
.address p {
line-height: 2vw;
font-size: 1vw;
}

.email {
width: 300px;
position: relative;
font-size: 1vw;
}
.email a {
text-decoration: none;
color: #337ab7;
font-size: 1vw;
}
.email img {
	float: left;
	width: 2vw;
	height: 2vw;
}

.social-media {
	width: 300px;
	position: relative;
}
.social-media img {
	float: left;
	width: 2.5vw;
	height: 2.5vw;
	filter: grayscale(100%);
}
.social-media p, a {
	color:white;
	text-decoration: none;
	line-height: 2vw;
	font-size: 1.5vw;
}
.social-media img:hover {
	transform: scale(1.25);
	filter: grayscale(0%);
}
.social-media p a:hover {
	transform: scale(1.25);
	font-weight: bold;
}

.contact-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.address, .social-media, .email {
	flex-basis: 30%;
}


 
@media only screen and (max-width: 672px) {
 
    .container {
		margin-left:27vw;
		margin-right:12.5vw;
        margin-bottom: 25vw;
		margin-top: 0vw;
		padding-top: 1vw;		
    }	
    .container h3{
		font-size: 2vw;		
    }	
    .connect, .address, .social-media, .email {
        flex-basis: 100%;
        margin-bottom: 2vw;
		max-width: 48vw;
    }
	.connect{
		margin-left: 14vw;
	}
    .connect img {
		float: left;
        width: 5vw;
        height: 5vw;
    }
    .connect p {
        line-height: 5.5vw;
        height: 5vw;
		font-size: 3vw;
    }
	.address img{
        float: left;
        width: 3.5vw;
        height: 3.5vw;
	} 
	.address p{
        line-height: 3.5vw;
        font-size: 1vw;
	}
	.email img{
        float: left;
        width: 3.5vw;
        height: 3.5vw;
	}
	.email p{
        line-height: 3.5vw;
        font-size: 1vw;
	}
	.social-media{
		margin-top: 5vw;
	}
	.social-media h3{
		text-align: center;
	}
    .social-media img {
		margin-left: 20vw;
        float: left;
        width: 3vw;
		height: 3vw;
		filter: grayscale(100%);
    }
	.social-media p {
		text-align: left;
        line-height: 2vw;
        font-size: 3vw;
    }
}


@media only screen and (max-width: 336px) {
 
    .container {
		margin-left:27vw;
		margin-right:12.5vw;
        margin-bottom: 25vw;
		margin-top: 0vw;
		padding-top: 1vw;		
    }	
    .container h3{
		font-size: 2vw;		
    }	
    .connect, .address, .social-media, .email {
        flex-basis: 100%;
        margin-bottom: 2vw;
		max-width: 48vw;
    }
	.connect{
		margin-left: 14vw;
	}
    .connect img {
		float: left;
        width: 5vw;
        height: 5vw;
    }
    .connect p {
        line-height: 5.5vw;
        height: 5vw;
		font-size: 3vw;
    }
	.address img{
        float: left;
        width: 3.5vw;
        height: 3.5vw;
	} 
	.address p{
        line-height: 3.5vw;
        font-size: 1vw;
	}
	.email img{
        float: left;
        width: 3.5vw;
        height: 3.5vw;
	}
	.email p{
        line-height: 3.5vw;
        font-size: 1vw;
	}
	.social-media{
		margin-top: 5vw;
	}
	.social-media h3{
		text-align: center;
	}
    .social-media img {
		margin-left: 20vw;
        float: left;
        width: 3vw;
		height: 3vw;
		filter: grayscale(100%);
    }
	.social-media p {
		text-align: left;
        line-height: 2vw;
        font-size: 3vw;
    }
}


/*
	* {
     background: #000 !important;
     color: #0f0 !important;
	outline: solid #f00 1px !important;
	}
*/
	
