

.mybackground {
width: 98vw;
margin-bottom: 50vw;
}

.bgimage {
  width: 98vw;
  height: 100%;
  filter: grayscale(100);
  opacity: 0.2;
  object-fit: cover;
  
}

.intro {
  position: absolute;
  top: 25vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 6vw;
  text-align: center;
}

#introle{
  position: absolute;
  top: 35vw;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.4vw;
  text-align: center;
}
  
@media only screen and (max-width: 768px) 
{
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 

.mybackground {
width: 100vw;
margin-bottom: 160vw;
}

.bgimage{
margin-left: 8.5vw;
width: 98vw;	
top:0%;
}	
.intro{
margin-left: 8.5vw;
font-size: 250%;
top: 12%;
}
#introle{
margin-left: 9vw;
font-size: 50%;
overflow: visible;
top: 18%;
}	
}


 @media only screen and (max-width: 344px) {
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 

.mybackground {
width: 100vw;
margin-bottom: 190vw;
}	 
 }
 
@media only screen and (max-width: 375px), 
       only screen and (max-height: 667px) {
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} 

.mybackground {
width: 100vw;
margin-bottom: 110vw;
}	 
}

/* Reinforce this code in the index file in github*/
@media only screen and (max-width: 336px) {
.intro {
font-size: 9vw;	
margin-top: 8vw;
}
#introle {
font-size: 3vw;	
margin-top: 15vw;
}
}



@media only screen and (max-width: 672px) {
.intro {
font-size: 9vw;	
margin-top: 8vw;
}
#introle {
font-size: 3vw;	
margin-top: 15vw;
}
}
